*{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

/****************
 site header 
 ****************/
header{
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

header>.container{
    height: 50px;
}

nav{
    height: 100%;
} 

[class*="nav-"]{
    height: 100%;
}

.flex{
    display: flex;
}

.nav-center, .nav-right, .nav-left{
    align-items: center;
}

.nav-right{
    justify-content: flex-end;
    padding-right: 30px;
}

.nav-center{
    justify-content: center;
}

.logo{
    height: 30px;
    padding: 0 30px;
}

.ab{
    text-decoration: none;
    color: rgba(3, 28, 78, 1);
    margin: 0 10px;
    height: 50px;
    align-items: center;
}

nav a:hover{
    color:rgba(49, 141, 253, 1) ;
}

a>i{
    padding: 5px;
}

.nav-right>.btn>a{
    border: 1px solid rgba(49, 141, 253, 1);
    border-radius: 5px;
    color: rgba(49, 141, 253, 1);
    padding: 7px 10px;
    margin: 0;
}

.nav-right>.btn>a:hover{
    box-shadow: inset 0px 0px 5px;
}

.menu{
    height: 100%;
    display: none;
}

.dropdown{
    position: relative;
}

.drop-content{
    display: none;
    position: absolute;
    top: 50px;
    box-shadow: 0px 4px 10px -2px gray;
    background-color: rgba(255, 255, 255, 1);
    border-top: 2px solid lightgray;
    width: 400px;
}

.dropdown:hover .drop-content{
    display: block;
}

.item{
    margin: 15px 5px;
    align-items: center;
}

.item img{
    width: 50px;
    height: 50px;
}

.item span{
    color: gray;
    font-weight: 400;
}

.item h4{
    color: rgba(3, 28, 78, 1);
}

.featured h5{
    margin: 30px 0px 20px 30px;
    color: rgba(3, 28, 78, 1);

}
/**************
 /site header 
 **************/


















/*************
  site main 
  *************/

/*********** top main **************/
main{
    margin-top: 50px;
}

.top-main{
    background-image: url(../../img/bg-banner-home.jpg);
    background-size: cover;
}

.container_lg>.container{
    align-items: center;
}

.banner_left{
    flex-direction: column;
    justify-content: center;
    margin: 30px;
}

h1{
    font-size: 3.5rem;
    color: white;
    line-height: 60px;
}

.banner_left>p{
    color: rgba(245, 245, 245, 0.787);
    font-weight: 400;
    line-height: 25px;
    font-size: 1.2rem;
}

.banner_right{
    background-color: whitesmoke;
    padding: 20px 0;
    margin: 30px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

form{
    text-align: center;
    width: 100%;
    padding: 10px;
}
form h2:nth-child(2){
    color:rgba(0, 74, 255, 1);
}

input{
    display: block;
    padding: 5px;
    width: 100%;
    margin: 5px 0;
    border: 1px solid rgba(128, 128, 128, 0.301);
    border-radius: 5px;
    background-color: whitesmoke;
}

form>.btn_solid{
    background-color: rgba(49, 141, 253, 1);
    padding: 5px;
    border-radius: 5px;
    font-size: .9rem;
    color: whitesmoke;
    width: 100%;
    margin: 5px 0;
    cursor: pointer;
    border: none;
}

form>.btn{
    box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.329);
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
    font-size: .9rem;
    position: relative;
}

form>.btn>a{
    color:rgba(98, 98, 98, 1) ;
}

form>span{
    font-size: .7rem;
    font-weight: 500;
}

form>span>a{
    color:rgba(49, 141, 253, 1) ;
    font-weight: 600;
}

form a:not(.termini){
    text-decoration: none;
}

.btn>img{
    width: 15px;
    position: absolute;
    left: 5px;
}

@media screen and (max-width:767px){
    .nav-center{
        display: none;
    }
    .nav-right{
        display: none;
    }
    .logo{
        padding: 0 30px;
    }
    .menu{
        display:flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 30px;
        color:rgba(49, 141, 253, 1);
    }
    .top-main{
        width: 100%;
    }
    .container{
       max-width: 100%;
       height: 100%;
       flex-direction: column;
     }
    .banner_left{
        width: 100%;
        padding: 20px 20px;
        display: block;
        margin: 0 30px;
    }
    h1{
    font-size: 2.5rem;
    line-height: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
    }
    h2{
        margin-bottom: 5px;
    }
    .banner_right{
        width: 94%;
        margin-top: 0;
    }
    .software>.container>.customers>span>a{
        font-size: 1.2rem;
    }
    .software>.container>span{
        font-size: 1.3rem;
    }
}

@media screen and (min-width:768px) and (max-width:991px){
    .nav-center{
        display: none;
    }
    .nav-right{
        display: none;
    }
    .logo{
        padding: 0 30px;
    }
    .menu{
        display:flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 30px;
        color:rgba(49, 141, 253, 1);
    }
    .top-main{
        width: 100%;
    }
    .container{
       max-width: 100%;
       height: 100%;
     }
    .banner_left{
        display: block;
    }
    .banner_right{
        margin: 20px;
    }

}
/*************** /top main ***************/












/*************** software ***************/
.software{
    background-color: rgba(243, 245, 249, 1);
}
.software span{
    text-transform: uppercase;
    color:rgba(119, 131, 157, 1);
    text-align: center;
    margin: 30px 0;
    display: block;
    padding: 0 20px;
}

.sponsor{
    text-align: center;
}

.software img{
    margin: 0 20px;
    width: 135px;
    height: 85px;
}
.customers{
    height: 50px;
}

.container>.customers>span>a{
    text-decoration: none;
    color:rgba(49, 141, 253, 1);
    text-transform: none;
}
.customers a:hover{
    border-bottom: 1px solid rgba(49, 141, 253, 1);
}
/**************** /software ******************/









/**************** content top *******************/
.column_top{
    text-align: center;
    padding: 80px 30px;
}

.column_top>h2{
    margin-bottom: 10px;
    font-weight: 600;
}

.column_top>p{
    color: rgba(119, 131, 157, 1);
}

.column_left, .column_center, .column_right {
    flex-direction: column;
    padding-left:50px ;
}
.column_left{
    padding: 0;
}

.centramento{
    border-left: 2px solid rgba(119, 131, 157, 0.459);
    justify-content: center;
    flex-direction: column;
    margin: 0 50px;
}

.column_left>.centramento>a{
    text-decoration: none;
    margin: 10px;
    color: rgba(119, 131, 157, 0.657);
}

.content_top img{
    height: 40px;
    width: 40px;
}

.content_top h4{
    margin: 10px 0;
    font-weight: 600;
}

.section{
    height: 150px;
    margin: 10px;
    padding: 0 30px;
}

.column_center>.section>p{
    font-size: 15px;
    color: rgb(119, 131, 157);
}

.column_right>.section>p{
    font-size: 15px;
    color: rgb(119, 131, 157);
}

.column_bottom{
    margin-bottom: 50px;
}

.content_top a:hover{
    color:rgba(49, 141, 253, 1);
}

.centramento:hover{
    border-left: 2px solid rgba(49, 141, 253, 1) ;

}

@media screen and (max-width: 767px) {
    .column_center{
        padding-left: 0;
    }
    .column_right{
        padding-left: 0;
    }
    .centramento{
        margin: 20px 10px;
    }
    .section{
        height: auto;
        padding: 0;
    }
    .column_right>.section:last-child{
        padding-bottom: 40px;
    }
    .content_top>.container>.column_bottom>.column_left a{
        font-size: 1.5rem;
    }
    .column_right>.section p{
        font-size: 1.3rem;
    }
    .column_center>.section p{
        font-size: 1.3rem;
    }  
    .column_bottom h4{
        font-size: 1.5rem;
    }  
    .column_top{
        padding: 30px 5px;
    }
    .column_top>h2{
        font-size: 3rem;
    }
    .column_top>p{
        font-size: 1.5rem;
    }
    .column_bottom{
        display: block;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .column_left{
        padding-left: 50px;
    }
    .column_center{
        padding-left: 0;
    }
    .column_right{
        padding-left: 0;
    }
    .centramento{
        margin: 20px 10px;
    }
    .section{
        height: 200px;
        width: 250px;
    }
    .column_top{
        padding: 30px 5px;
    }
    
}
/************* /content top **********/










/*********** deigned **************/
.designed{
    background-color:rgba(243, 245, 249, 1) ;
}
.designed>.container{
    margin-bottom: 80px;
}
.designed_top{
    width: 100%;
    text-align: center;
    padding: 60px;
}
.designed h2{
    color: rgba(3, 28, 78, 1);
    font-weight: 600;
    margin: 30px;
    font-size: 2rem;
}

.designed p{
    color: rgba(119, 131, 157, 1);
}

.after-img, .befor-img{
    font-size: 4rem;
    padding: 50px;
    align-items: center;
    color:rgba(3, 28, 78, 1) ;
    justify-content: center;
}
.visual{
    text-align: center;
    width: auto;
}
.visual>img{
    width: 100%;
}

.visual>span{
    display: block;
    margin: 20px;
    color: rgba(3, 28, 78, 1);
    font-weight: 600;
}
.visual>i{
    color: rgba(49, 141, 253, 1);
}

@media screen and (max-width:767px) {
    .designed_bottom{
        padding: 50px;
    }

    .visual>i{
        margin-top: 50px;
    }
    .designed_top>h2{
        font-size: 3rem;
    }
    .designed_top>p{
        font-size: 2rem;
    }
    .after-img, .befor-img{
        height: 250px;
    }
}
@media screen and (min-width:768px) and (max-Width:991px) {

    .after-img, .befor-img{
        height: 480px;
    }
    .visual>i{
        padding-top: 70px;
    }
}
/**************** /deigned ****************/














/***************** features ****************/
.features>.container>.column-top{
    text-align: center;
    padding: 60px;  
}

.features .column-top>h2{
    font-size: 2rem;
    color: rgba(3, 28, 78, 1);
    font-weight: 600;
}

.features .colum-bottom{
    padding-bottom: 100px;
}

.features img{
    width: 40px;
}

.features h3{
    font-size: 1.3rem;
    color: rgba(3, 28, 78, 1);
    margin: 10px 0;
    font-weight: 600;
}

.features p{
    color: rgb(119, 131, 157);
    margin-bottom: 10px;
}

.support>i{
    text-decoration: none;
    color: rgba(49, 141, 253, 1);
    font-weight: 700;
}
.support{
    text-decoration: none;
    color: rgba(49, 141, 253, 1);
    font-weight: 700;
}
.features a:hover{
    font-size: 1.1rem;
}

@media screen and (max-width:767px) {
    .features>.container>.colum-bottom> .column_left, .column_center, .column_right{
        flex-direction: column;
        margin: 0px 0px 40px 10px;
    }  
}

@media screen and (min-width:768px) and (max-width:991px) {
    .features>.container>.colum-bottom> .column_left, .column_center, .column_right{
        padding: 0px 40px;
    }  
}
/*************** /features *************/









/***************** service **************/
.service{
    background-color: rgba(0, 52, 176, 1);
}

.top-service{
    color: white;
    font-size: 1.6rem;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 20px;
}

.code{
    color: white;
}

.code, .city{
    padding:0  10px;    
}

.table{
    border-bottom: 1px solid white;
    padding: 10px 0;
}

.city{
    color:rgb(119, 131, 157) ;
}

.bottom-service a{
    text-decoration: none;
    color:rgba(0, 172, 202, 1);
}

.last-table{
    padding: 10px 0 80px 0;
}

.col-service-right, .col-service-left{
    padding: 0px 20px;
}

.bottom-service a:hover{
    color: whitesmoke;
}

@media screen and (max-width:767px) {
    .last-table{
        padding-bottom: 80px;
    }
    .top-service, .bottom-service{
        flex-direction: column;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .last-table{
        padding-bottom: 80px;
    }
    .top-service, .bottom-service{
        flex-direction: column;
    }
}
/************** / service **************/






/**************** development ************/
.development{
    background-color: rgba(243, 245, 249, 1);
}
.dev-top{
    text-align: center;
    color:  rgba(3, 28, 78, 1);
    font-size: 1.7rem;
    padding: 40px 0;
    margin: 50px;
}
.dev-bottom{
    justify-content: center;
}
.rock>img{
    width: 100%;
}

.rock>i{
    margin: 50px 0px 80px 0px;
    color: rgba(49, 141, 253, 1);
    text-align: center;

}
/******************* /development ************/





/***************** crea account *************/
.started{
    background-color: rgba(0, 52, 176, 1);
}
.account{
    margin: 40px 0;
}
.account>h2{
    color: white;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
}
.btn-solid{
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 0px 20px 50px;
    text-align: center; 
    padding: 10px 15px;
    color:rgba(49, 141, 253, 1) ;
}
.btn-solid:hover{
    background-color: rgba(49, 141, 253, 1);
    color: white;
    cursor: pointer;
}
/************* /crea account  ************/

/************
/main
*********** */



/**********
footer
**********  */

.footer{
    background-color:rgba(3, 28, 78, 1) ;
}
.footer>.container{
    width: 1170px;
}
.made{
    color: grey;
    padding-right: 15px;
}
.made>img{
    display: block;
    margin-bottom: 10px;
}

.made>span{
    display: block;
}

.footer i:not(.far){
    padding: 5px;
}

[class*="section-"]{
    flex-direction: column;
    padding-left: 40px;
}
.footer>.container{
    padding: 50px 0;
}

footer h4{
    color: white;
    padding: 10px 0;
}

footer a{
    text-decoration: none;
    color: gray;
    line-height: 30px;
}

footer a:hover{
    color: rgba(49, 141, 253, 1);
    transition: linear cubic-bezier(0.39, 0, 0.19, 1.52);
    transition-duration: 0.4s;
}

@media screen and (max-width:767px) {
    [class*="section-"]{
    padding-left: 10px;
    padding-top: 20px;
}
    .made{
        padding-left: 10px;
    }  
}

@media screen and (min-width:768px) and (max-width:991px) {
    [class*="section-"]{
        padding: 10px 10px;
    }
    .made{
        padding-left: 10px;
    }     
}
/*************
/footer
***********  */



/**************** assistente ***************/
.assistenza{
    width: 400px;
    position: fixed;
    bottom: 40px;
    right: 40px;

}
.vignetta{
    background-color: white;
    color:rgba(3, 28, 78, 1);
    font-weight: 600;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    position: relative;
}
.shark{
    width: 60px;
    height: 60px;
    background-color:rgba(0, 74, 255, 1) ;
    border-radius: 5px;
    margin-left: 20px;
    position: relative;
}

.shark>img{
    width: 100%;
    margin: 5px 0;
}

.message{
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid gray;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -15px;
    right: -10px;

}
.message>.red{
    background-color: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    color: white;
}

.triangle{
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    background-color: white;
    position: absolute;
    right: -8px;
    bottom: 10px;
}

@media screen and (max-width:767px) {
    .assistenza{
        flex-direction: row-reverse;
        flex-direction: column-reverse;
        position: fixed;
        right: 30px;
        bottom: 20px;
    }  
    .vignetta{
        margin: 20px;
    }  
    .triangle{
        transform: rotate(315deg);
        position: absolute;
        top: -8px;
        left: 20px;
    
    }
}
/************ /assistente ***********/