*{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

/****************
 site header 
 ****************/
header>.container{
    height: 50px;
}

nav{
    height: 100%;
} 

[class*="nav-"]{
    height: 100%;
}

.flex{
    display: flex;
}

.nav-center, .nav-right, .nav-left{
    align-items: center;
}

.nav-center, .nav-right{
    justify-content: center;
}

.logo{
    height: 30px;
}

nav a{
    text-decoration: none;
    color: rgba(3, 28, 78, 1);
    margin: 0 10px;
}

nav a:hover{
    color:rgba(49, 141, 253, 1) ;
}

a>i{
    vertical-align: middle;
}

.nav-right>.btn>a{
    border: 1px solid rgba(49, 141, 253, 1);
    border-radius: 5px;
    color: rgba(49, 141, 253, 1);
    padding: 7px 10px;
    margin: 0;
}

.nav-right>.btn>a:hover{
    box-shadow: inset 0px 0px 5px;
}
/**************
 /site header 
 **************/

 /*************
  site main 
  *************/

  /* top main */
.top-main{
    background-image: url(../../img/bg-banner-home.jpg);
    height: 400px;
}

.container_lg>.container{
    height: 100%;
    align-items: center;
}

.banner_left{
    height: 100%;
    flex-direction: column;
    justify-content: center;
    padding-right: 200px;
}

h1{
    font-size: 3.5rem;
    color: white;
    line-height: 60px;
}

.banner_left>p{
    color: rgba(245, 245, 245, 0.787);
    font-weight: 400;
    line-height: 25px;
    font-size: 1.2rem;
}

.banner_right{
    height: 70%;
    background-color: whitesmoke;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

form{
    text-align: center;
    width: 100%;
    padding: 10px;
}
form h2:nth-child(2){
    color:rgba(0, 74, 255, 1);
}

input{
    display: block;
    padding: 5px;
    width: 100%;
    margin: 5px 0;
    border: 1px solid rgba(128, 128, 128, 0.301);
    border-radius: 5px;
    background-color: whitesmoke;
}

form>.btn_solid{
    background-color: rgba(49, 141, 253, 1);
    padding: 5px;
    border-radius: 5px;
    font-size: .9rem;
}

form>.btn_solid>a{
    color: whitesmoke;
}


form>.btn{
    box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.329);
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
    font-size: .9rem;
    position: relative;
}

form>.btn>a{
    color:rgba(98, 98, 98, 1) ;
}

form>span{
    font-size: .7rem;
    font-weight: 500;
}

form>span>a{
    color:rgba(49, 141, 253, 1) ;
    font-weight: 600;
}

form a:not(.termini){
    text-decoration: none;
}

.btn>img{
    width: 15px;
    position: absolute;
    left: 5px;
}
/* /top main */

/* software */
.software{
    background-color: rgba(243, 245, 249, 1);
    height: 200px;
}